#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 800px;
}

#main {
    height: 100%;
    width: 100%;
}

span {
    display: inline-block;
    width: min(80vw, 900px);
}

#buttontext {
    width: min(70vw, 550px);
    height: 100px;
}

.creamies-top {
    width: 70%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: hidden;
    pointer-events: none;
}

.description-creamie {
    height: 100%;
}

#iotararitytable {
    height: 250px;
    width: 70%;
    margin: 0 auto;
}

#raritytable {
    height: 250px;
    width: 70%;
    margin: 0 auto;
}

html {
    -webkit-text-size-adjust: 100%;
    background: linear-gradient(0deg, rgba(0, 174, 255, 1) 0%, rgba(0, 82, 153, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    /*font-size: min(3vw, 18px);*/
    font-size: 18px;
    margin: 0px;
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    text-align: center;
}

#iotalogo {
    width: 100px;
    padding-top: 5px;
}

a {
    color: white;
}

#scroll-down {
    opacity: 1;
    -webkit-transition: all .5s ease-in 3s;
    transition: all .5s ease-in 3s;
}

#scroll-down {
    position: fixed;
    right: 30px;
    bottom: 30px;
    width: 40px;
    height: 40px;
    border: 2px solid #FFF;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#scroll-down:before {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 7px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


#button-container {
    text-align: center;
}

.connectButton {
    align-items: center;
    background-image: linear-gradient(-180deg, #E680B8 0%, #DD4AA0 100%);
    border: 1px solid #ffffff;
    border-radius: 100px;
    color: #ffffff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
        Helvetica, Arial, "Lucida Grande", sans-serif;
    cursor: pointer;
    width: 180px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.connectButton:hover,
.connectButton-18:focus {
    background-image: linear-gradient(-180deg, #ff8ecc 0%, #f856b4 100%);
    color: #ffffff;
}

.connectButton:active {
    background-image: linear-gradient(-180deg, #be6a99 0%, #af3d80 100%);
    color: rgb(255, 255, 255, 1.0);
}

.connectButton:disabled {
    cursor: not-allowed;
    background: rgba(172, 133, 173, 0.6);
    color: rgb(192, 192, 192);
}

#sendButton, #connectedText, #addressText {
    visibility: hidden;
}



.grid-container-flavors,
.grid-container-rareflavors,
.grid-container-description,
.grid-container-accessoires,
.grid-container-expressions,
.grid-container-stats,
.grid-container-specialflavors,
.grid-container-rarity,
.grid-container-iota {
    display: grid;
    width: 80%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;
}

.grid-item-title-flavors,
.grid-item-title-rareflavors,
.grid-item-title-description,
.grid-item-title-accessoires,
.grid-item-title-expressions,
.grid-item-title-stats,
.grid-item-title-specialflavors,
.grid-item-title-rarity,
.grid-item-title-iota {
    align-self: flex-end;
}

.grid-container-description {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(250px, 100%/4)), 1fr));
}

.grid-container-flavors {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(200px, 100%/5)), 1fr));
}

.grid-container-specialflavors {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(180px, 100%/6)), 1fr));
}

.grid-container-rareflavors {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(200px, 100%/5)), 1fr));
}

.grid-container-stats {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/2, max(200px, 100%/5)), 1fr));
}

.grid-container-expressions {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(200px, 100%/5)), 1fr));
}

.grid-container-iota {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(200px, 100%/5)), 1fr));
}

.grid-container-accessoires {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/3, max(200px, 100%/5)), 1fr));
}

.grid-container-rarity {
    grid-template-columns: repeat(auto-fit, minmax(min(100%/4, max(150px, 100%/7)), 1fr));

}

.grid-item-flavors,
.grid-item-specialflavors,
.grid-item-accessoires,
.grid-item-stats,
.grid-item-rareflavors,
.grid-item-iota,
.grid-item-expressions,
.grid-item-rarity {
    background-color: rgba(255, 255, 255, 0.15);
    font-weight: bold;
    font-size: 24px;
    border-radius: 20px;
    text-align: center;
}

.grid-item-description {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 20px;
    padding: 30px;
}

.icon-description {
    font-size: 30px;
}

.span-description {
    width: 100%;
    height: 100%;
}

.grid-item-stats {
    padding: 20px;
}

.flavor-image {
    width: 100%;
}